.star-wars-table {
  border-radius: 5px;
}

.star-wars-table-header {
  th {
    color: $table-header-color;
    border: 2px solid $table-header-color;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: $orange;
      color: $red !important;
    }
  }
}

.star-wars-table-body {
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $orange;
    color: $table-body-hover-color;
  }
}
